.marp {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .marBut {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }