.app {
  height: 100vh;
  background-color: var(--light-grey);
  padding: 32px 16px;
}

.app .search {
  padding: 16px 0;
}

.app .search .search-input,
.app .search .search-button {
  display: inline-block;
  vertical-align: middle;
}

.app .search .search-input {
  width: 197px;
  margin-right: 16px;
}
