<h1>Listado de personajes</h1>
  <div>
    <table>
      <tr>
        <td>
          <input type="text" 
                 placeholder="Buscar"
                 [(ngModel)]="tituloPersonaje"
                 (keyup.enter)="buscarPersonajeXTitulo()"
                 >
        </td>
        <td>
          <button>Nuevo</button>
        </td>
      </tr>
      <tr *ngFor="let personaje of personajesList">
          <td colspan="2">
              <img [src]="personaje.image" alt="Personaje">
          </td>
      </tr>
    </table>
</div> 
