@import "../../../../colors.scss";

.character-create {
  &__input {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }
  &__actions {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 8px;
  }
  &__text-error {
    color: $btn-red;
  }
}
