<h2>
    <strong>
        <label class="navbar-label">Listado de personajes</label>
    </strong>
</h2>

<nav class="navbar">
    <input placeholder="Buscar" class="navbar-text" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>&nbsp;&nbsp;
    <button class="navbar-button" (click)="crearHeroe()">Nuevo</button>
</nav>

<div>
    <hr>
    <input placeholder="Nombre" class="navbar-text">
    <input placeholder="Descripcion" class="navbar-text">
    <input placeholder="Imagen" class="navbar-text"><br>
    <button class="navbar-button" (click)="guardarHeroe()">Guardar</button>&nbsp;&nbsp;
    <button class="navbar-button" (click)="cancelarHeroe()">Cancelar</button>

</div>