<div class="container">
    <div class="row">
      <div id="busqueda" class="col-6">
        <app-busqueda-personaje></app-busqueda-personaje>
      </div>
      <div id="busqueda" class="col-6">
        <app-busqueda-personaje></app-busqueda-personaje>
      </div>
    </div>
    <div class="row">
      <div id="busqueda" class="col-6">
        <app-detalle-personaje></app-detalle-personaje>
      </div>
      <div id="nuevo" class="col-6">
        <app-nuevo-personaje></app-nuevo-personaje>
      </div>
    </div>
   
  </div>