/*
* Utility classes content
*
* 1. Margins
* 2. Paddings
*/

/*
* 1. Margins
*/
.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-8 {
  margin-right: 8px;
}

/*
* 2. Paddings
*/
.pt-24 {
  padding-top: 24px;
}

/*
* 3. Scrollbars
*/
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #B7B7B9;
  border: 0pt solid transparent;
  border-radius: $borderRadiusXsmall;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E9ECF3;
  border: 0pt solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}