/* 
* Contents:
* 
* 1. Breakpoints
* 2. Colors 
* 3. Box shadows
* 4. Element sizes
* 5. Borders
* 6. Padding
*/

/* 
* 1. Breakpoints. 
*/
$sizeDesktop:                     1440px;
$sizeTablet:                      1024px;
$sizeMobileBig:                   768px;
$sizeMobileSmall:                 390px;

$breakpoints: (
  'xsmall': ( min-width: $sizeMobileSmall ),
  'medium': ( min-width: $sizeMobileBig ),
  'large' : ( min-width: $sizeTablet ),
  'xlarge': ( min-width: $sizeDesktop )
) !default;

/* 
* 2. Colors. 
*/
$colorGrey100:                  #f9fafc;
$colorGreyBase:                 #f6f6f6;
$colorGrey:                     #e5e5e5;
$colorGreyLighter:              #e7e9ee;
$colorGreyLight:                #dee3ed;
$colorGreyMedium:               #929296;
$colorGreyDark:                 #4a4a50;
$colorGreyScaleDark:            #ececed;
$colorGreyDark200:              #dbdbdc;
$colorBlue:                     #0f265c;
$colorBlueDarkGrayish:          #f4f6f9;
$colorBlueInfo:                 #2f7abf;
$colorBlack:                    #1a1a1a;
$colorWhite:                    #fff;
$colorStep:                     #b7b7b9;
$colorError:                    #d50707;
$colorOrangeLight:              #FEF0E5;
$colorOrange:                   #FCC399;
$colorGreenMedium:              #b4dcbe;
$colorBackGround:               #f4f6f9;
$colorGreen:                    #31A451;
$colorGreenLight:               #ecf6ee;
$colorGreenMedium:              #b4dcbe;
$colorGreenOpaque:              #Ecf6ee;

/* 
* 3. Box Shadows. 
*/
$boxShadowSoft:                   0px 8px 8px -8px rgba(7, 7, 7, 0.16);
$boxShadowSofter:                 0px 8px 4px -8px rgba(7, 7, 7, 0.16);
$boxShadowFlat:                   0px 4px 4px -8px rgba(7, 7, 7, 0.04);

/*
* 4. Element sizes
*/
$widthOnboardingCard:             428px;
$widthErrorScreenCard:            448px;
$modalHeaderHeight: 56px;

/*
* 5. Borders
*/
$borderRadiusXsmall:              5px;
$borderRadiusSmall:               8px;

/*
* 6. Padding
*/
$paddingOnboardingCardLarge:      40px;
$paddingOnboardingCardMedium:     24px;
$paddingOnboardingCardSmall:      16px;
