<div class="card">
    <div class="container">
        <h3>Buscar Personaje</h3>

        <input type="text" id="title" [(ngModel)]="title" name="title"><br><br>
        <div>
            <button type="button" class="button" (click)="buscarPersonaje(title)">Buscar</button>

        </div>
        <div *ngIf="personajeBuscado">
            <h4>{{personajeBuscado?.title}}</h4>
            <img src={{personajeBuscado.image}} alt="alternatetext">
        </div>
    </div>
</div>



<div class="card">
    <div class="container">
        <h3><b>Listado de Personajes</b></h3>
        <div *ngFor="let persona of listaDePersonajes; let i=index">
            <ul>
                <li>
                    <img src={{persona.image}} alt="alternatetext">
                    
                    <div class="container"  >
                        <h4><b>Editar Personaje</b></h4>


                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" [(ngModel)]="persona.title" name="nombre"><br><br>
                        <label for="descripcion">Descripcion:</label>
                        <input type="text" id="descripcion" [(ngModel)]="persona.body" name="descripcion"><br><br>
                        <label for="url">Imagen:</label>
                        <input type="text" id="url" [(ngModel)]="persona.image" name="url"><br><br>
                        <div>
                            <button type="button" class="button" (click)="editarPersonaje(persona)">Editar</button>
                            
                            <button type="button" class="button" (click)="eliminarPersonaje(persona)">Eliminar</button>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
    <br>

    
</div>
<div class="card">
<div class="container">
    <h3><b>Nuevo Personaje</b></h3>


    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre"><br><br>
    <label for="descripcion">Descripcion:</label>
    <input type="text" id="descripcion" [(ngModel)]="descripcion" name="descripcion"><br><br>
    <label for="url">Imagen:</label>
    <input type="text" id="url" [(ngModel)]="url" name="url"><br><br>
    <div>
        <button type="button" class="button" (click)="guardarPersonaje()">Guardar</button>
        <button type="button" class="button" (click)="limpiarFormulario()">Cancelar</button>
    </div>
</div>
</div>