<div clas="no-js" style="margin-left: 168px;">
<nav id="topNav">
  <ul>
    <li><a routerLink="heroes" routerLinkActive="active" title="Lista H&eacute;roes">Lista H&eacute;roes</a></li>
    <li><a routerLink="registrar-heroe" routerLinkActive="active" title="Añadir H&eacute;roe">Añadir H&eacute;roe</a></li>
    <li><a href="#" title="Nav Link 1">Nav Link 4</a></li>
    <li><a href="#" title="Nav Link 1">Nav Link 5</a></li>
</ul>
</nav>
</div>
<div id="componenteHeroes">
  <router-outlet></router-outlet>
</div>
