<div class="contend">
    <img src="{{superHeroe.srcImagen}}" alt=" importar srcImagen">
    <h2>{{Personaje.nombre}}</h2><br>
    <p><b>Nombre Personaje: </b>{{Personaje.NombrePersonaje}}</p><br>
    <a routerLink="/listado-personajes">regresar</a>
  </div>

 
<h1> {{ Actualizar Personaje}}  </h1>
<button (click)="actializar-personajes.SuperHeroe"> +1</button>
<span> {{ actualizar-personajes }} </span>

<h1> {{ Crear Personaje}}  </h1>
<button (click)="crear-personajes.SuperHeroe"> +1</button>
<span> {{ crear-personajes }} </span>

<h1> {{ Eliminar Personaje}}  </h1>
<button (click)="eliminar-personajes.SuperHeroe"> +1</button>
<span> {{ eliminar-personajes }} </span>

<h1> {{ Listado Personaje}}  </h1>
<button (click)="listado-personajes.SuperHeroe"> +1</button>
<span> {{ listado-personajes }} </span>