.button {
  border-radius: .25rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  filter: opacity(0.8);
}

.button-primary {
  background-color: rgb(230, 0, 29);
  color: white;
}

.button-secondary {
  background-color: rgb(255, 255, 255);
  color: rgb(230, 0, 29);
}

.button-sm {
  padding: .25rem;
}

.button-md {
  padding: .5rem;
}

.button-lg {
  padding: 1rem;
}