<div class="character-list__action">
  <input
    #search
    type="text"
    placeholder="Buscar..."
    (keyup)="handleSearch(search.value)"
  />
  <app-button [icon]="icons.ADD" text="Nuevo" (handleEmit)="add()"></app-button>
</div>
<ng-container *ngIf="showInterface;else noData">
  <div class="character-list">
    <app-character-create
      class="character-list__character"
      *ngIf="showCreate"
      [dataCharacter]="editCharacter"
      (handleCharacter)="handleSave($event)"
    ></app-character-create>
    <h2 class="character-list__title">{{labels.textList}}</h2>
    <div class="character-list__character">
      <app-character-card
        *ngFor="let character of characters"
        [character]="character"
        (handleEmitOption)="handleOption($event, character)"
      ></app-character-card>
    </div>
  </div>
</ng-container>
<ng-template #noData>
  <h4>Cargando....</h4>
</ng-template>
