.form {
  background: white;
  border: 1px solid var(--soft-grey);
  padding: 0 16px 16px 16px;
}

.form h1 {
  text-align: center;
}

.form .form-fieldset {
  margin-bottom: 16px;
}

.form .form-button-container {
  text-align: center;
}

.form .form-button-container .form-button {
  display: inline-block;
  vertical-align: middle;
}

.form .form-button-container .form-button.ml {
  margin-left: calc(calc(100% - 260px) / 2);
}

.form .form-button-container .form-button.mr {
  margin-right: calc(calc(100% - 260px) / 2);
}