:root {
    /* Colors */
    --background-grey: #f4f0f0;
    --buttons-red: #e83e1f;
    --title-grey: #5a5a5a;
    --text-with: #fff9f9;
    --backgroung-card-black: #2c2c2c;
    --background-with: #fff9f9; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background-color: var(--background-grey);
}