#contenedor {
  background-color: #f8e9e9;
  font-family: Arial;
  color: #4b4545;
}

.elemento {
  text-align: center;
}

#tbox {
  padding-right: 10px;
}

.formulario {
  background-color: white;
}
