<div class="form-data">
    <div>
        <h2 class="form-data__title">{{title}}</h2>
        <div class="form-data__information">
            <label for="name">{{name}}</label>
            <input type="text" name="name">
        </div>
        <div class="form-data__information">
            <label for="name">{{description}}</label>
            <input type="text" name="name">
        </div>
        <div class="form-data__information">
            <label for="name">{{img}}</label>
            <input type="text" name="name">
        </div>
        <div>
            <button><i class='fas fa-folder-open'></i>Guardar</button>
            <button></button>
        </div>
    </div>
</div>
