.form-data {

    padding: 16px 12px 8px 12px;
    background-color: var(--background-with);

    &__title {
        display: flex;
        justify-content: center;
        color: var(--title-grey);
        margin-bottom: 16px;
    }

    &__information {
        margin-bottom: 12px;
    }
}